spring.datasource.url=jdbc:postgresql://YOUR_SUPABASE_HOST:6543/postgres?sslmode=require
spring.datasource.username=YOUR_DATABASE_USER
spring.datasource.password=YOUR_DATABASE_PASSWORD
app.jwt.secret=REPLACE_WITH_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARACTERS
app.google.client-id=YOUR_GOOGLE_CLIENT_ID
